body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.card{
background:#222;
padding:30px;
margin:40px auto;
width:300px;
border-radius:10px;
text-align:center;
}

input,button{
padding:10px;
margin:10px;
width:90%;
}

button{
background:#00c3ff;
border:none;
cursor:pointer;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#viewer{
width:100%;
height:80vh;
}