<!DOCTYPE html>
<html>
<head>
<title>Viewer</title>

<script src="https://cdn.jsdelivr.net/npm/three@0.158/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.158/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.158/examples/js/controls/OrbitControls.js"></script>

<script src="/static/js/arvr.js"></script>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<h2>Viewer</h2>

<div id="viewer"></div>

<button onclick="startAR('{{file}}')">Start AR</button>

<script>
loadModel("/uploads/{{file}}")
</script>

</body>
</html>