<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WebXR AR</title>

<script src="https://cdn.jsdelivr.net/npm/three@0.158/build/three.min.js"></script>
<script src="/static/js/ar.js"></script>

<style>
body{margin:0;background:black;color:white;text-align:center;}
button{
padding:15px;
margin:15px;
background:#00c3ff;
border:none;
color:white;
border-radius:10px;
}
</style>

</head>

<body>

<h2>AR Viewer</h2>

<button onclick="startAR('{{file}}')">Start AR Camera</button>
<button onclick="captureAR()">📸 Capture</button>

</body>
</html>